<!-- Alerts -->
<div class="js-html-inspector">
  <!-- The misspelled .alert-dismissable was deprecated in 3.2.0. -->
  <div class="alert alert-dismissible">
    <button class="close" data-dismiss="alert" type="button">&times;</button>
    .alert.alert-dismissible
  </div>
</div>

<div class="row js-html-inspector" data-replace-target="> div">
  <div class="col-sm-6">
    <div class="alert alert-success">
      .alert.alert-success
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-info">
      .alert.alert-info
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-warning">
      .alert.alert-warning
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="alert alert-danger">
      .alert.alert-danger
      <a class="alert-link" href="#">a.alert-link</a>
    </div>
  </div>
</div>
