<div class="js-html-inspector" data-remove-target="p:first">
  <p><strong>.progress</strong></p>
  <div class="progress">
    <div class="progress-bar" style="width: 80%;">
      <span>.progress-bar</span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 80%;">
      <span>.progress-bar.progress-bar-success</span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-info" style="width: 80%;">
      <span>.progress-bar.progress-bar-info</span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" style="width: 80%;">
      <span>.progress-bar.progress-bar-warning</span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" style="width: 80%;">
      <span>.progress-bar.progress-bar-danger</span>
    </div>
  </div>
</div>

<div class="js-html-inspector" data-remove-target="p:first">
  <p><strong>.progress .progress-bar.progress-bar-striped</strong></p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-success" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-info" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-warning" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-danger" style="width: 17%;"></div>
  </div>
</div>

<div class="js-html-inspector" data-remove-target="p:first">
  <p><strong>.progress.active .progress-bar.progress-bar-striped</strong></p>
  <div class="progress active">
    <div class="progress-bar progress-bar-striped" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-success" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-info" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-warning" style="width: 17%;"></div>
    <div class="progress-bar progress-bar-striped progress-bar-danger" style="width: 17%;"></div>
  </div>
</div>
